body {
    font-family: verdana;
    font-size: 20px;
    background-color: #ffe5ec
}

.topnav {
  background-color: #ffb3c6;
  overflow: hidden;
  align-content: center;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffc2d1;
  color: white;
}

img { 
   display: block;
  margin: auto;
}

.boxheading {
    height: 200px;
    border: 1px solid rgb(255, 0, 149);
    padding: 10px;
    margin: 10px;
}

/* Creating Boxes Side by Side to eachother */
.box {
	float: left;
	width: 25%;
	padding: 50px;
	border: 1px solid black;
  }

  .box2 {
	float: left;
	width: 50%;
	padding: 25px;
	border: 1px solid black;
  }
  
  
  .clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  .fltlt {
	float: left;
	margin-right: 8px;
   }
   .fltrt {
	float: right;
	margin-left: 16px;
   }
	.clear {
	clear: both;
   }

  .grid-container {
    display: grid;
    grid-template-areas:
      "catering-desc catering-form"
      "catering-menu catering-menu";
    grid-template-columns: 2fr 2fr;
    gap: 3px;
    background-color: #ffb3c6;
    padding: 5px;
  }

  .grid-container div {
    background-color:#ffc2d1;
    padding: 10px;
  }

  .grid-container div.catering-desc {
    grid-area: catering-desc;
  }

  .grid-container div.catering-form {
    grid-area: catering-form;
  }

  .grid-container div.catering-menu {
    grid-area: catering-menu;
  }